<food-planner-card [cardMessage]="message"></food-planner-card>

<form [formGroup]="addIngredientForm" (ngSubmit)="addIngredient()">
<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Measurement</mat-label>
            <input formControlName="measurement" matInput>
        </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
        <button mat-raised-button>Save</button>
    </mat-card-footer>
</mat-card>
</form>

<mat-card>
    <mat-card-content>{{ returnMessage }}</mat-card-content>
</mat-card>
