<button mat-button [matMenuTriggerFor]="menu">Food Planner</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/createuser">Create User</button>
  <button mat-menu-item routerLink="/getUsers">View Users</button>
  <button mat-menu-item routerLink="/addIngredient">Add Ingredient</button>
  <button mat-menu-item routerLink="/viewIngredients">View Ingredients</button>
  <button mat-menu-item routerLink="/createRecipe">Create Recipe</button>
  <button mat-menu-item>View Recipes</button>
</mat-menu>
